.table{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
}
thead{
    cursor: pointer;
}
table{
    width: 70%;
    text-align: center;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
thead{
    font-weight: bold;
}
#pagination{
    margin: 16px;
    text-align: center;
}
button{
    background: white;
    border: 1px solid black;
    margin: 1px;
    width: 30px;
    border-radius: 4px;
    line-height: 20px;
}
button:hover{
    background: rgba(0, 128, 0, 0.718);
    cursor: pointer;
}
.active{
    background: rgba(0, 128, 0, 0.307);
}